.DS_Store
dist/
docs/.observablehq/cache/
node_modules/
yarn-error.log
.venv/
src/*parquet

data/by_year/*
data/*parquet

data/dyn_sync_networks.parquet

data/ref_works_by_year/
src/import/
workspace/
__pycache__/import_topic_oa.cpython-311.pyc
